
.scroll-thin2{
  overflow-y: auto !important;
  overflow-x: auto;
}
.scroll-thin2::-webkit-scrollbar{
	display: none !important;
  width: 4px;
  height: 5px;
  display: inline;

}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}
.hh{
	margin-left: 15px !important;
}
.h{
	margin-top: 0px !important;
}
.size{
	height: 146px ;
	width: 171px;
	margin: 10px;
}

.progress{
	height: 10px !important;
}
.font_bold{
	font-weight: 500;
	color: #444443;
}
.p-size{
	top: 2ex;
	position: relative;
	width: 170px;	
	margin-left: 5px;
	font-size: 13.5px;
}
.p1-size{
	left: -2ex;
	position: relative;
	width: 170px;	
}
.progress-padding{
	margin-right: 10px;
    margin-left: 5px;
}
.progress-padding small{
	font-size: 70%;
}
.div-col{
	padding-top: 5px;	
}
.div-col-hover{
	margin-top: -5px;	
}
.img-col{
	position: relative;
	padding-left: 120px;
	margin-left: 20px;
	height: 20px;
	width: 140px;
}
.img-col-hover{
	position: relative;
	padding-left: 120px;
	height: 20px;
	width: 140px;
}
.f-head{
	border-bottom: 1px solid;
	height: 40px;
}
.f1-head{
	border-bottom: 1px solid;
	height: 40px;
	margin-top: 10px;
}
.f-head svg {
  transition: .3s transform ease-in-out;
}
.f-head .collapsed svg {
  transform: rotate(-90deg);
}
.f1-head svg {
  transition: .3s transform ease-in-out;
}
.f1-head .collapsed svg {
  transform: rotate(-90deg);
}
div.container-fluid{
	position: relative;
}
.row-0{
	width: auto !important;
	flex-wrap: inherit !important;
	
	display: inline-flex !important;
	margin-left: 10px !important;
	top: -3ex;
}
.hover,.hover1,.hover2,.hover3,.hover4,.hover5,.hover6{
	position: relative;
}
.carte {
	display: none;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.head_hover{
	max-width: 35px;
}
.carte_button1,.carte_button2,.carte_button3,.carte_button4,.carte_button5,.carte_button6,.carte_button7{
	/*background-color: #fff;*/
	box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
	position: relative;
}
.carte_button1:hover,.carte_button2:hover,.carte_button7:hover,
.carte_button3:hover,.carte_button4:hover,.carte_button5:hover,.carte_button6:hover{
	/*background-color: #fff;*/
	cursor: all-scroll;
	-webkit-box-shadow:0 10px 14px 0 #5a5a5a59;
	-moz-box-shadow:0 10px 14px 0 #5a5a5a59;
	box-shadow: 0 10px 14px 0 #5a5a5a59;
}
.carte_btt1,.carte_btt2,.carte_btt3,.carte_btt4,.carte_btt5,.carte_btt6,.carte_btt7{
	display: none;
	background-color: #fff;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}


.baocao{
	font-weight: 500;
	font-size: 18px;
	margin-top: 7px;
	margin-left: 20px;
}
.btn-click{
	float: right;
	margin-right: 20px;
	border: none;
}
.btn-click-dropdown{
	float: right;
	margin-right: 0px;
	border: none;
}
@media only screen and (max-width: 1000px){
	.btn-click-dropdown{
		background-color: #fff !important;
		float: right;
		margin-right: 0px;
		border: none;
}
}
#right-ct{
	width: 95%;
}
.click-collapse{
	color: #fff;
}
.click-collapse1{
	color: #888;
}
.hover-color{
	color: black;
}

.pull-left{
  margin-right: 100px !important;
  margin-top: 2px;
}
#combo_chart,#chart_div,#curve_chart,#donut_single{
	padding-top: 20px;
	box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.12);
}
#combo_chart:hover,#chart_div:hover,#curve_chart:hover,#donut_single:hover{
	-webkit-box-shadow:0 10px 14px 0 #5a5a5a59;
	-moz-box-shadow:0 10px 14px 0 #5a5a5a59;
	box-shadow: 0 10px 14px 0 #5a5a5a59;
}
.box-chart1,.box-chart2,.box-chart3,.box-chart4{
	height: auto;
	padding-top: 10px;
	margin-bottom: 10px;
}
.box-chart11,.box-chart22,.box-chart33,.box-chart44{
	display: none;
}
.delete-combo-chart,.delete-chart-div,.delete-curve-chart,.delete-donut-single{
	position: relative;
}
/*.delete_combo_chart,.delete_chart_div,.delete_curve_chart,.delete_donut_chart{
	background-color: #fff;
	border: none;
	color: #fff;
	position: absolute;
}*/
.delete_combo_chart1,.delete_chart_div1,.delete_curve_chart1,.delete_donut_chart1{
	color: red !important;
	position: absolute;
}

.delete-click{
	cursor: pointer;
	height: 25px;
	width: 25px;
	margin-left: 400px;
	margin-top: 5px;
}
.x{
	padding-bottom:inherit;
	margin-bottom: 25px;
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding-left: 1em;
    padding-right: 0.5em;
    line-height:2em;
    color:black;
    font-weight:500;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
	background-color: #fbfbfd;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:black;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
#label_report{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	border-color: #888;
}
#report_all{
	position: relative;
}
#add_report{
	display: none;
	max-height:400px;
	width: auto;
	position: absolute; 
	z-index: 1;
	background-image: url('../ICON/download.jpeg');	
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*opacity: 0.96;*/
	overflow: hidden;
	border: 0px solid;
	margin-left: 0px;
}
@media only screen and (min-width: 770px) {
	#add_report{
		display: none;
		max-height:400px;
		width: auto;
		position: absolute; 
		z-index: 1;
		background-image: url('../ICON/download.jpeg');	
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		opacity: 0.96;
		overflow: hidden;
		border: 0px solid;
	    border-color: #333030;
		margin-left: 1100px;
	}
}
/*@media only screen and (max-width: 768px) {
	#add_report{
		display: none;
		width: auto;
		position: absolute; 
		z-index: 1;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		opacity: 0.96;
		overflow: hidden;
		border: 1px solid;
	    border-color: #333030;
		margin-left: 350px;
	}
}
*/
#add_chart{
	display: none;
	width: auto;
	max-height:400px;
	position: absolute; 
	z-index: 1;
	background-image: url('../ICON/download.jpeg');	
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
/*	opacity: 0.96;*/
	overflow: hidden;
	border: 0px solid;
    border-color: #333030;
	margin-left: 0px;
}
@media only screen and (min-width: 768px) {
	#add_chart{
		display: none;
		width: auto;
		max-height:400px;
		position: absolute; 
		z-index: 1;
		background-image: url('../ICON/download.jpeg');	
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		opacity: 0.96;
		overflow: hidden;
		border: 0px solid;
	    border-color: #333030;
	    margin-left: 1100px;

	}

}
/*@media only screen and (min-width: 610px) {
	#add_report{
		display: none;
		width: auto;
		position: absolute; 
		z-index: 1;
		background-color: #d6d6c2;
		opacity: 0.9;
		overflow: hidden;
		border: 1px solid;
	    border-color: #333030;
		margin-left: 1200px;
	}
}*/

#report{
	min-width: 230px;
	width: auto;
	background:rgba(255, 255, 255, 0.65);
}
.li-cursor{
	cursor: pointer;
}
.li-cursor1{
	cursor:text;
}
.li-cursor i{
	font-size: 10px;
}
.text_report{
	color: black !important;
	font-size: 12px;
	font-family: Arial;
}

.btn-detail{
	background-color: #4d4d4d;
	border: none;
}
.detail_click_head1,.detail_click_head2,.detail_click_head3,
.detail_click_head4,.detail_click_head5,.detail_click_head6,.detail_click_head7{
	display: none;
	min-width:110px;
	height: 110px;
	position: absolute; 
	z-index: 1;
	background-image: url('../ICON/download.jpeg');	
	/*opacity: 0.95;*/
	overflow: hidden;
	border: 0px solid;
    border-color: #333030;
    margin-left: 10px;
    margin-top: 5px;
}
.report_detail{
	width: 115px;
	height: 30px;
	margin-top: 3px;
	padding-left: 15px;
}
.report_detail:hover{
	background-color: #B6B4B4;
	cursor: pointer;
}

.h5, h5{
	border-bottom: 1px solid;
	width: auto;
}
#ankhung{
	height: 4px;
}
.form-check-input{
	margin-top: 12px !important;
}