.panel-down-icon{
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 6px;
    border-right: 1px solid #ddd;
}

.title-panel{
  height: 30px;
  border: 1px solid #ddd;
  margin-top: 20px;
  width: 990px;
}
a{
  color:#333;
}
a:hover{
  color: #333;
  text-decoration: none;
}

.content-panel{
  width: 990px;
  height: 180px;
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);

}
.box-panel-blur{
  width: 990px;
  height: 180px;
  position: absolute;
  top: 35px;
}
.blur-pannel{
  width: 990px;
  height: 180px;
}
.m-b-20{
  margin-bottom: 20px;
}

.box-pannel{
  position: relative;
}
.bg-blur{
  background: url("../ICON/download.jpeg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}
.scroll-thin{
  overflow-y: auto !important;
  overflow-x: auto ;
}
.scroll-thin::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}