/*!
 * Start Bootstrap - SB Admin v5.0.2 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: Segoe UI !important;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
}
.sidebar-left{
  overflow-x: hidden !important;
  overflow-y: auto;
}
body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}
@media (max-width: 998px) {
  #search-input{
    width: 100px !important;
  }
}
@media (min-width: 1410px) {
  .col-md-11-5{
    flex: 0 0 96%;
    max-width: 96%;
  }
}
@media (min-width: 1276px) and (max-width: 1409px) {
  .col-md-11-5{
    flex: 0 0 95.666667%;
    max-width: 95.666667%;
  }
}
@media (min-width: 1137px) and (max-width: 1280px) {
  .col-md-11-5{
    flex: 0 0 95%;
    max-width: 95%;
  }
}
@media (min-width: 1040px) and (max-width: 1137px) {
  .col-md-11-5{
    flex: 0 0 94.5%;
    max-width: 94.5%;
  }
}
@media (min-width: 965px) and (max-width: 1040px) {
  .col-md-11-5{
    flex: 0 0 94%;
    max-width: 94%;
  }
}
@media (min-width: 768px) {

  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  background-color: #525464;
  min-height: calc(100vh - 56px);
}

.sidebar li{
  list-style-type: none;
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}*/
@media (max-width: 768px) {
  .d-inherit{
    display: none;
  }
  .box-user{
    display: none;
  }
}
.min-w{
    min-width: 230px !important;
}

@media (min-width: 768px) {

  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    /*padding: 1rem;*/
    /*width: 225px;*/
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 60px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 60px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 80px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 60px);
  }
}

.top-side-bar{
    height: 62px;
    background-color: #f8f9fa;
}

.sidebar-right{
  border-right: 1px solid #ddd;
}

#search-input{
  height: 30px;
  width: 150px;
  border-radius: 0;
  border:none !important;
}
.input-search{
  min-width: 140px;
}
.d-inherit{
  max-height: 40px;
}
.badge{
  border-radius: 50%;
}
.icon-search{
  border:none;
}
.span-search{
  background-color: #fff;
}
.span-search .input-group-text{
  border-radius: 0;
}

.sidebar-right i{
  color: #333;
}
.accounts{
  min-width: 200px;
}
.full-name{
  font-size: 11px;
}
.fz-13{
  font-size: 13px !important;
}
.nav-link{
  position: relative;
}
.caret{
  position: absolute;
  right: 20px;
}
.caret-c{
  position: absolute;
  right: 40px;
}
.card-sidebar{
  padding-top: 0px;
  padding:0;
  background-color: transparent;
}

.bdb{
  border-bottom: 1px solid #6C6D7A;
}

.fz-16{
  font-size: 16px !important;
}
.fz-12{
  font-size: 12px !important;
}
.bg-blue{
  background: #8198F3;
}
#open-toggle{
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.w-20{
  width: 20px !important;
}
.m-b-5{
  margin-bottom: 5px;
}
.h-62{
  height: 62px;
}
.left-sidebar-title{
  color: #fff;
}
.active-sidebar{
  background-color: #707070;
  border-left: 2px solid #F47D35;
}
.active-sidebar .left-sidebar-title{
  color: #F47D35;
}
.fl-l{
  float: left;
}
.ul-no-type{
  list-style-type: none;
}
.po-re{
  position: relative;
  margin-top: 20px;
  height: 35px;
  text-align: center;
}
.po-re .badge{
  position: absolute;
  right: 0px;
  /*top: -5px;*/
}

.left-content{
  padding: 0px;
  border-left: 1px solid;
  height: 600px;
  width: 45px;
  float: left;
}
.br-50{
  border-radius: 50%;
}
.end-box{
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.end-box:hover{
  background-color: #ddd;
}
.po-re-box {
  position: relative;
  width: 100%;
  display: inline-block;
}
.m-t-12{
  margin-top: 12px;
}
.fl-l{
  float: left;
}
.quick-report{
  display: block;
}
.quick-report .card{
  float: left;
  width: 191px;
  height: 156px;
  margin-right: 10px;
  display: inline-block;
}
.quick-report .card-body{
  display: inline-block;
}
.quick-report .card-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.quick-report .card-text{
  font-size: 13px;
  font-weight: bold;
  color: #5B5959;
  margin-bottom: 0px;
}
.quick-report .card img{
  width: 28px;
  height: 28px;
  float: right;
  margin: 5px;
}

.quick-report .progress{
  height: 12px;
  width: 150px;
}

.quick-report .center-content{
  height: 50px;
}
.dropdown-accounts{
  width: 255px;
  height: 250px;
  background-color: transparent;
  overflow: hidden;
}
.dropdown-accounts:before{
  content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(0px);
    z-index: -1;
}
.avatar{
  text-align: center;
}
.groups{
  text-align: center;
    margin-top: 20px;
}
.groups img{
  margin-right: 40px;
};
.first{
  margin-left: 40px;
}
.func-accounts{
  text-align: center;
  margin-top: 20px;
}
.func-accounts button{
  color: #333;
  background-color: transparent;
  width: 103px;
  height: 26px;
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
  border: none;
}
.func-accounts button:hover{
  background-color: #E4E2E2;
  color: #333;
  font-weight: bold;
}
.status{
  width: 12px;
  height: 12px;
  background-color: #31851D;
  position: absolute;
  border-radius: 50%;
  top: 27px;
}
.status-full{
  width: 14px;
  height: 14px;
  background-color: #31851D;
  position: absolute;
  border-radius: 50%;
  top: 50px;
}
.info-icon{
  color: #4CAF50;
  margin-right: 10px;
}

.box-change-pass{

  width: 493px;
  height: 295px;
  border:1px solid #707070;
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
}
.blur{
  width: 493px;
  height: 295px;
  border:2px solid #707070;
  position: fixed;
  z-index: 1;
  -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
  background: url("../ICON/download.jpeg");
}
.body-changepass{
  display: inherit;
}
.form-change-pass{
  float: right;
  margin-bottom: 10px;
}
.fz-14{
  font-size: 14px;
}
.w-120{
  width: 120px;
}
.m-l-15{
  margin-left: 15px;

}
.m-l-5{
  margin-left: 5px;
}
.m-l-10{
  margin-left: 10px;
}
.m-l-20{
  margin-left: 20px;
}
.m-r-20{
  margin-right: 20px !important;
}
.password-input{
  border: none;
  background: transparent;
}
.password-input:focus{
  border:none !important;
}
.bd-input{
  border-bottom: 1px solid #707070;
}
#password-old{
}
.show_pass{
  cursor:pointer;
}
.cl-w{
  color: #fff;
}
.cl-r{
  color: red;
}
.m-t-10{
  margin-top: 10px;
}
.m-r-10{
  margin-right: 10px;
}
.footer-changepass{
  border:none !important;
}
.btn-default{
  background-color: transparent;
  color: #5B5959;
  border:none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
}
.content-acc{
      width: 255px;
    height: 250px;
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 0.65);
}
.blur-acc{
  width: 255px;
    height: 250px;
}
.password-input:focus{
  outline: 0 !important;
}
.btn-default:hover{
  background-color: #E4E2E2;
  font-weight: bold;
}
.header-cp{
  border-bottom: 1px solid #707070;
  margin-right: 20px;
  margin-left: 10px;
}
.cl-tr{
  color: transparent;
}

.box-message{
  width: 365px;
  height: 363px;
  border:1px solid #707070;
  padding: 0;
}

.bg-blur{
  background: url("../ICON/download.jpeg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.blur-mess{
  width: 365px;
  height: 363px;
}
.content-mess{
  width: 365px;
  height: 363px;
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
}
.row-mess{
  width: 96%;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid #707070;
}
.fz-10{
  font-size: 10px;
}
.mess-info{
  width: 80px;
  height: 21px;
  border-radius: 11px;
  background-color: #4CAF50;
  color: #fff;
  padding: 3px 10px;
}
.m-t-15{
  margin-top: 15px;
}
.view-all{
  background-color: #fff;
  border-radius: 9px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  padding: 3px 10px;
  font-weight: bold;
}
.btn-view-all{
  text-align: center;
    margin-top: 20px;
}

.group-mess{
  max-height: 300px;
    overflow: hidden;
}
.scroll-thin{
  overflow-y: auto !important;
  overflow-x: auto ;
}
.scroll-thin::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4);
}

.show_task{
  width: 378px;
  position: absolute;
  right: 0px;
}
.box_show_task{
  width: 378px;
  border:1px solid #707070;
  position: absolute;
  right: 45px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.65);
}
.blur_show_task{
  width: 378px;
  height: 610px;
  right: 45px;
}
.search-task{
  width: 243px;
  margin: auto;
}
.add-new-task{
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: #fff;
  cursor: pointer;
  border-radius: 1px;
  padding: 3px 15px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.div-add-new-task{
  width: 105px;
  margin: auto;
}
.m-t-20{
  margin-top: 20px;
}
.bdr-none{
  border-radius: 0px;
}
.content-task-box{
  /*width: 95%;*/
  margin: auto;
}
.title-coming{
  font-size: 14px;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  font-weight: bold;
}

.checkbox-input{
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-right: 2px;
  border:1px solid #707070;
}
input[class="checkbox-input"]:checked + lable{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff ;
    border-color:#707070;
    border-style:solid;
    border-width:0.5px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid ;
    border-color:#4CAF50;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
  margin-bottom: 10px;
  background-color: #f8204f;
  border-width: 2px;
  border-color: #f8204f;
  color: #fff;
}
.cust-btn:hover{

  border-color: #f8204f;
  background-color: #fff;
  color: #f8204f;
  border-radius: 20px;
  transform-style: 2s;

}
.code-task{
  font-size: 14px;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 5px;
  padding: 3px 10px;

}
.dp-inline-block{
  display: inline-block;
  width: 100%;
}
.fl-r{
  float: right;
}
.dropdown-detail-task{
  width: 287px;
  height: 288px;
  border-radius: 0.5px;
  border:0.5px solid #707070;
  padding: 0px;

}
.box-detail-task{
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  width: 287px;
    height: 288px;
}
.dropdown-item:active{
  background-color: transparent;
}
.fw-bold{
  font-weight: bold;
}
.btn-detail-task{
  text-align: end;
  margin-right: 20px;
}
.coming-task{
  max-height: 190px;
  margin-left: 10px;
}
.m-t-5{
  margin-top: 5px;
}
.click_open_task{
  cursor: pointer;
}

.right-active{
  background-color: #AAABBC;
}

.hover-task{
  background-color: #E5E5E5;
}

.cs-poiter{
  cursor: pointer;
}
.right-content{
  width: 100%;
}
.dropdown-blur-task{
  width: 287px;
    height: 288px;
}
.sidebar-left-end{
  height: 55px;
  background: rgba(255, 255, 255, 0.25);
}

.rotated{
  -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;

}
.back{
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.hide-box{
    border-radius: 20px 0px 0px 20px;
    background-color: #ddd;
    right: -30px;
    width: 50px;
}
.hide-box i{
  margin-right: 20px;
}

.full-w{
  width: 100%;
}
.fix-w{
  width: 95%;
}

.fz-20{
  font-size: 20px;
}

.doc1-page{
  width: 96%;
  margin: auto;
}

.header-doc1-box{
  width: 96%;
  padding-bottom: 2px;
  border-bottom:1px solid #707070;
  display: inline-block;
}
.header-doc1-box a{
  color: #333;
}
.bd-none{
  border:none;
}
.doc1-box{
  cursor: pointer;
  width: 244px;
  height: 133px;
  float: left;
  margin-bottom: 10px;
}
.doc1-box:hover{
  background-color: #EEEEEE;
  border-radius: 2px;
  box-shadow: 0px 3px 10px;
}
.vew-table{
  max-height: 270px;
}
.view-list ul>li{
  cursor: pointer;
}
.p-b-10{
  padding-bottom: 10px;
}
.bg-w{
  background-color: #fff;
}
.m-b-20{
  margin-bottom: 20px;
}
.blur-r-click{
  width: 178px;
  height: 60px;
  top: 80px;
    left: 140px;
}
.r-click{
  width: 178px;
  height: 60px;
  border-radius: 2px;
  border:0.5px solid #707070;
  position: absolute;
  top: 80px;
    left: 140px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.65);

}

.infor-box{
  width: 355px;
  height: 213px;

}
.conten-blur{
  width: 355px;
  height: 213px;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  z-index: 2;
    text-align: start;
}
.blur-info{
  width: 355px;
  height: 213px;
}
.box-info-content{
  display: inline-flex;
}
.box-info{
  max-height: 170px;
}

.fc-infor{
  cursor: pointer;
}
.row-doc{
  position: relative;
}

.l-s-t-none{
  list-style-type: none;
}
.fw-none{
  font-weight: normal;
}
.fc-table{
  cursor: pointer;
  padding: 3px 3px;
}
.fc-list{
  cursor: pointer;
  padding: 3px 6px;
}
.m-l-3{
  margin-left: 3px;
}
.m-r-6{
  margin-right: 6px;
}
.view-active{
  background-color:#ddd;
}

.content-search{
  background-color: #FCFCFC;
  width: 96%;
  margin: auto;
}
.tabs-search a{
  color: #5B5959;
}
.nav-tabs .nav-link.active {
  background-color: #FCFCFC;
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}
.nav-tabs .nav-link.active:hover {
  background-color: #FCFCFC;
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}
.header-tab-search{
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}
.header-form{
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.more-tab-searh{
  width: 15px;
  margin:auto;
}
.box-user-search{
  margin-bottom: 20px;
}

.m-l-40{
  margin-left: 40px;
}

.m-b-20{
  margin-bottom: 20px;
}

.sidebar-po{
  position: absolute;
  z-index: 3;
}

.div-width-60{
  width: 60px;
}
